
<section>
  <div class="birthday-wrapper">
  <h2 class="heroh2-title">Перевір в який рік ти народився</h2>
  <input type="text" name="text" class="search" placeholder="Введіть рік народження"><svg
    class="search-icon"></svg></input>
    <p>Ви народилися у високосний рік!</p>
  </div>
<p>Ви народилися у високосний рік!</p>
    </div>
    </section>
    <section class="feature">
      <div class="feature-game-wrapper">
      <h2 class="feature-title">Вгадай число, яке загадав комп'ютер</h2>
      <input type="text" name="text" class="search" placeholder="Введіть рік народження" name="text" class="search"
        placeholder="Введіть рік народження" name="text" class="search" placeholder="Введіть числа"><svg
        class="search-icon"></svg></input>
        <p>Вітаю, ви вгадали число! (number)</p>
      </div>
    </section>
