<section class="calculator-box">
  <hr class="line" style="background-color: black; height: 1px;  width: 536px">
  <h2 class="calc-title">Калькулятор</h2>
  <div class="calculator-wrapper ">
  <input class="calculator-input" id="operand1" type="number">
  <div class="buttons-container">
  
    <button class="calculator-button" onclick="setOperation('add')" type="button">+</button>
    <button class="calculator-button" onclick="setOperation('multiply')" type="button">*</button>
    <button class="calculator-button" onclick="setOperation('subtract')" type="button">-</button>
    <button class="calculator-button" onclick="setOperation('divide')" type="button">/</button>
  </div>
    <input class="calculator-input" id="operand2" type="number">
    <button class="calculator-button" onclick="calculateResult()" type="button">=</button>
    <input class="calculator-input" id="result" type="number" readonly>

  <input class="calculator-input" id="clearButton" type="button" value="Clear" onclick="clearCalculator()">
  </div>
</section>