<section>
    <h2>Калькулятор</h2>
    <input type="number">
    <div>
      <button type="button"></button>
      <button type="button"></button>
      <button type="button"></button>
      <button type="button"></button>
      <input type="number">
      <button type="button"></button>
      <input type="number">
    </div>
  <input>
    <h2>Калькулятор часу</h2>
    <input type="number"><svg class="search-icon"></svg></input>
    <svg class="dots-row-icon"></svg>
    <p class="time-result"></p>
  </section>