<footer>
    <div class="footer-wrapper">
      <div class="footer-logo-wrapper">
      <a href="" class="footer-logo">
        <svg class="footer-logo-icon"></svg>
      </a>
    </div>
    <div class="footer-info-wrapper">
      <ul>
        <li><p>Тел: <a href="tel:+381234567890">+38 (123) 456 78 90</a></p></li>
      <li><p>E-Mail: <a href="mailto:codingmagic@gmail.com">codingmagic@gmail.com</a></p></li>
      <li><p>Facebook: <a href="#">CodingMagic</a></p></li>
      <li><p>Twitter: <a href="#">CodingMagic</a></p></li>
      <li><p>Instagram: <a href="#">CodingMagic</a></p></li>
</ul>
    </div>
    <div class="footer-subscribe-wrapper">
      <form >
        <input type="email">
        <button class="primary-button">Підписатись</button>
        <p>*Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті</p>
      </form>
    </div>
    </div>
    <div class="footer-subscribtion-greating">
      <!-- до цього діва буде кріпитися модальне вікно з повідомленням про підписку -->
    </div>
  </footer>