<header class="header">
    <div class="container">
      <div class="nav-wrapper">
      <nav class="header-nav">
        <a href=""> 
          <svg class="header-logo"></svg></a>

        <ul class="header-list">
          <li class="header-item"><a href="">Інтерактив<svg class="header-nav-arrow"></svg> </a></li>
          <li class="header-item"><a href="">Наша команда</a></li>
          <li class="header-item"><a href="">Контакти</a></li>
        </ul>
      </nav>
    </div>
      <div><button class="theme-switcher"></button> 
        <p class="header-greating">Вітаємо, User!</p>
      </div>
   
    </div>
  </header>