<section id="our-team">
<div id="team" class="wrap-team">
    <hr class="line" style="background-color: black; height: 1px;  width: 536px">

    <h2 class="title-team">Наша команда</h2>

    <div class="list-team">
        <div class="wrap-item">
            <img class="img-person" src="/src/images/Максим.jpg" alt="" class="img-person">
            <p class="name-student">Максим</p>
            <p class="information-student">Team lead</p>
        </div>
        <div class="wrap-item">
            <img class="img-person" src="/src/images/Олег.jpg" alt="" class="img-person">
            <p class="name-student">Олег</p>
            <p class="information-student">Scrum master</p>
        </div>
        <div class="wrap-item">
            <img class="img-person" src="/src/images/Кирил.jpg" alt="" class="img-person">
            <p class="name-student">Кирил</p>
            <p class="information-student">Developer</p>
        </div>
    </div>

</div>

<script src="/src/js/our-team.js"></script>
</section>
