<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="rock-scissor-paper">
        <div class="container">
          <h2 class="rock-scissor-paper-title">Камінь - ножиці - папір</h2>
          <div class="button-box">
            <button class="rock"></button>
            <button class="scissor"></button>
            <button class="paper"></button>
          </div>
          <div class="text-box">
            <p class="rock-scissor-paper-text">Рахунок:</p>
            <p class="rock-scissor-paper-text">Комп'ютер - <span class="count-1">0</span></p>
            <p class="rock-scissor-paper-text">ви - <span class="count-2">0</span></p>
          </div>
          <p>Ви виграли раунд!</p>
          <button class="primary-button"></button>
        </div>
      </section>
</body>
</html>