<section>
    <h2>Обери вченого/их</h2>
    <div class="sientist-images-box">
     <!-- тут мають рендеритися картинки -->
       <!-- створити масив з картинками, потім створити потрібну 
     кількість img прикріпити до діва sientist-images-box -->
    </div>
    <div class="buttons-filter-box">
     <!-- тут рендеряться кнопки -->
     <!-- створити масив з текстом, потім стовири потрібну 
     кількість кнопок дістаючи текст з масиву, 
     прикріпити до діва з класом buttons-filter-box -->
    </div>

  </section>