.birthday{
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    // margin-top: 35px;

}

.title {
    display: flex;
    justify-content: center;
}

.input{
    border: none;
    background-color: #D7D7D7;
    width: 215px;
    height: 35px;
    border-radius: 20px;
    box-shadow: 3px 3px #00000040;
    padding: 10px 10px 10px 10px;
}

.search {
    position: absolute;
    width: 35px;
    height: 35px;
    padding: 10px;
    background-color: #000000;
    border: none;
    border-radius: 0 20px 20px 0;
    margin-left: -35px;
}

.img-search {
    width: 15px;
    height: 15px;
    padding: 0;
    margin: 0;
}

.year-you-born {
    font-size: 15px;
    margin-left: 110px;
}