
  .text-win-or-lose-guese-number-computer-guesed {
    margin-left: 20px;
    align-items: center;
  }
  .computerGuessed-div {
    display: flex;
    justify-content: space-between;
  }
  .computerGuessed {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .feature-title {
    display: flex;
    justify-content: center;
  }
  // .input-button-guese-number {
  //   display: flex;
  //   align-items: center;
  // }